<h2>
    Kind habits: Create board for {{userId}}
</h2>

<form action="/create_board/{{userId}}" method="post"> 
    <label for="name">Board name*:</label> 
    <input type="text" id="name" name="board_name" required>
    <br><br>
    <label for="description">Board description:</label>
    <input type="text" id="description" name="board_description">
    <br><br>
    <label for="color">Board color*:</label>
    <!-- https://coolors.co/f08080-ffa07a-f0e68c-87ceeb-afeeee-66cdaa-90ee90-d8bfd8 -->
    <select id="color" name="board_color" required>
        <option value="F08080">LightCoral (Red)</option>
        <option value="FFA07A">LightSalmon (Orange)</option>
        <option value="F0E68C">Khaki (Yellow)</option>
        <option value="87CEEB">Skyblue (Blue)</option>
        <option value="AFEEEE">PaleTurquoise (Light blue)</option>
        <option value="66CDAA">MediumAquamarine (Green)</option>
        <option value="90EE90">LightGreen (Light green)</option>
        <option value="D8BFD8">Thistle (Purple)</option>
    </select>
    <br><br>
    <input type="submit"> 
</form>