<h2>
    Kind habits: Create board for {{userId}}
</h2>

<form action="/create_board/{{userId}}" method="post"> 
    <label for="name">Board name*:</label> 
    <input type="text" id="name" name="board_name" required>
    <br><br>
    <label for="description">Board description:</label>
    <input type="text" id="description" name="board_description">
    <br><br>
    <label for="color">Board color*:</label>
    <!-- https://coolors.co/f08080-ffa07a-f0e68c-03416b-052f5f -->
    <select id="color" name="board_color" required>
        <option value="#3D3D3D">Onyx Gray</option>
        <option value="37323E">Raisin Black</option>
        <option value="04254E">Oxford Blue</option>
    </select>
    <br><br>
    <input type="submit"> 
</form>