<h2> 
    Kind habits: Main
</h2>
<p>
    Hello there!
</p>
<p>
    <a href="/view_boards/{{testUserId}}">
        View board for {{testUserId}}
    </a>
</p>
<p>
    <a href="/view_boards/{{emptyUserId}}">
        View board for {{emptyUserId}}
    </a>
</p>
